html, body{
    height:100%;
    width:100%;
}

#page1{
    height: 100%;
    width:100%;
}

body::-webkit-scrollbar{
    background-color:transparent;
}

body::-webkit-scrollbar-thumb{
    background:linear-gradient(orange,red,blue,yellow);
    border-radius:10px;
}


img{
    height:500px;
    width:400px;
    filter: drop-shadow(10px 10px 30px black);
}

h1{
    font-size: 110px;
    font-weight: 900;
    margin: 10px;
    -webkit-text-stroke:4px #000;
    color:#86a8b9;
    font-family:Arial, Helvetica, sans-serif;

}

h1::selection{
    color:rgb(226, 127, 14);
    background-color:green;
}