html, body{
    height:100%;
    width:100%;
}
/*(1)image shadow*/
img{
    height:500px;
    width:400px;
    filter: drop-shadow(10px 10px 20px black);
}

/*(2)Text border*/

h1{
    font-size: 110px;
    font-weight: 900;
    margin: 10px;
    -webkit-text-stroke:4px #000;
    color:cadetblue;
    font-family:Arial, Helvetica, sans-serif;
}
